*{
    background-color: rgb(16, 16, 17);
}

.title{
    font: Georgia, "Palatino";
    font-size: 32px;
    color: rgb(237, 237, 238);
    text-align: center;
}

.title.list{
    font-size:22px;
    list-style-type: none;
    a:link{color:antiquewhite;}
    a:visited{color:rgb(205, 149, 231);}
    a:hover{color:rgb(93, 30, 153)}
}

body{
    font: Georgia, "Palatino";
    font-size: 32px;
    color: rgb(237, 237, 238);
    text-align: center; 
}

ul{
    font-size:22px;
    list-style-type: none;
    text-align: left;
}

ol{
    font-size:22px;
    
    text-align: left;
}
h3{
    font-size:32px;
    
    text-align: left; 
}

.des{
    text-align: center;
}